[user]
    name = Yuri Sementsov
    email = hello@smcv.dev
    signingkey = 39461CE1
[credential]
    helper = osxkeychain
[gpg]
    program = gpg
[core]
    editor = micro
    pager = delta
    include = ~/.gitlocal
    excludesfile = ~/.gitignore
    fileMode = false
	autocrlf = input
	quotepath = off
	fileMode = false
[color]
    diff   = auto
    status = auto
    branch = auto
[init]
	defaultBranch = master
[pull]
	rebase = false
[branch]
    autosetuprebase = always
[interactive]
    diffFilter = delta --color-only
[delta]
    syntax-theme = Monokai Extended Bright
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    colorMoved = default
    zero-style = dim syntax
[delta "decorations"]
    commit-decoration-style = yellow box ul
    file-style = yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box    
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    a  = "!git add . && git st"
    aa = "git add -A"
    ua = reset HEAD
    c = commit
    ca = commit -a
    cam = commit -am
    am = commit --amend
    co = checkout
    d = diff
    st = status --short --branch
    cp = cherry-pick
    skip = rebase --skip
    abort = rebase --abort
    cont = "!git add . && git rebase --continue"
    current = rev-parse --abbrev-ref HEAD
    last-msg = log -1 --pretty=%B
    l = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
    ll = log --stat --abbrev-commit
    wtf = diff --name-only --diff-filter=U
    br = "!br $@"
    pl = "!pull"
    ph  = "!push"
    yolo = "!git commit -am \"$(curl -sL whatthecommit.com/index.txt)\""
    append = "!git add . && git commit --amend --no-edit"
    patch = "!git --no-pager diff --no-color"
    master = "!git checkout master && pull"
    orphan = "!git checkout --orphan $1 && git rm --cached -rf . && git clean -fdx"
    new = "!br feature/$@"
    fix = "!br fix/$@"
    done = "!f() { current_branch=$(git current); git rebase $current_branch master && push && git master; }; f"
    fixed = "!f() { current_branch=$(git current); git rebase $current_branch master && push && git master && git purge $current_branch; }; f"
    purge = "!git push --delete origin $1 && git branch -D $1"
    # Merge fresh master into the current branch
    mmm = "!git fetch origin master && git merge origin/master --no-edit"
    up = "!git fetch; git rebase --autostash FETCH_HEAD"
    # List of my own commits
    my = "!git log --branches=* --no-merges --pretty=format:'%C(yellow)%h %C(blue)%cd %C(reset)%C(white)%s' --date=short --author=\"$(git config user.name)\""
    # List of branches ordered by last change
    branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:bold)%(refname:short)%(color:reset)\t%(committername), %(committerdate:relative)'
    # Cancel local commits in the branch: git fuck master
    fuck = "!f() { git reset --hard origin/$1; }; f"
