[user]
    name = Yuri Sementsov
    email = hello@smcv.dev
    signingkey = 39461CE1
[credential]
    helper = osxkeychain
[gpg]
    program = gpg
[core]
    editor = micro
    pager = delta
	autocrlf = false
	safecrlf = false
    mergeoptions = --no-edit
    excludesfile = ~/.gitignore
	quotepath = false
	preloadindex = true
[color]
	ui = auto

[alias]
    a  = "!git add . && git st"
    aa = add -A
    ua = reset HEAD
    c = commit
    ca = commit -a
    cam = commit -am
    am = commit --amend
    ap = commit -a --amend --no-edit
    co = checkout
    d = diff
    s = status -sb
    cp = cherry-pick
    skip = rebase --skip
    abort = rebase --abort
    cont = rebase --continue
    current = rev-parse --abbrev-ref HEAD
    last-msg = log -1 --pretty=%B
    l = log --pretty=format:'%Cred%h%Creset  %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
    ll = log --stat --abbrev-commit
    wtf = diff --name-only --diff-filter=U
    br = "!br $@"
    pl = "!pull"
    ph  = "!push"
    yolo = "!git commit -am \"$(curl -sL whatthecommit.com/index.txt)\""
    patch = "!git --no-pager diff --no-color"
    master = "!git checkout master && pull"
    orphan = "!git checkout --orphan $1 && git rm --cached -rdf . && git clean -fdx"
    new = "!br feature/$@"
    fix = "!br fix/$@"
    done = "!f() { current_branch=$(git current); git rebase $current_branch master && push && git master; }; f"
    fixed = "!f() { current_branch=$(git current); git rebase $current_branch master && push && git master && git purge $current_branch; }; f"
    purge = "!git push --delete origin $1 && git branch -D $1"
    # Merge fresh master into the current branch
    mmm = "!git fetch origin master && git merge origin/master --no-edit"
    up = "!git fetch; git rebase --autostash FETCH_HEAD"
    # List of my own commits
    my = "!git log --branches=* --no-merges --pretty=format:'%C(yellow)%h %C(blue)%cd %C(reset)%C(white)%s' --date=short --author=\"$(git config user.name)\""
    # List of branches ordered by last change
    branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:bold)%(refname:short)%(color:reset)\t%(committername), %(committerdate:relative)'
    # Cancel local commits in the branch: git fuck master
    fuck = "!f() { git reset --hard origin/$1; }; f"

[init]
	defaultBranch = master
[pull]
	rebase = false
[push]
	# When pushing code, always push only your current branch to a branch of the same name
	default = current
    # Automatically set up upstream tracking
	autoSetupRemote = true
[fetch]
	# Automatically prune deleted branches from your local copy when you fetch (or pull)
	prune = true
[log]
	# Show branch names with git log
	decorate = short
[branch]
    autoSetupRebase = always
[interactive]
    diffFilter = delta --color-only
[add.interactive]
	useBuiltin = false
[delta]
	navigate = false
	light = false
	hyperlinks = true
	hyperlinks-file-link-format = "vscode://file/{path}:{line}"
	grep-line-number-style = normal dim
	grep-file-style = blue bold
	grep-match-line-style = normal "#453327" # gray04
	grep-match-word-style = black yellow
	grep-separator-symbol = " "
    syntax-theme = Monokai Extended Bright
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    colorMoved = default
    zero-style = dim syntax
[delta "decorations"]
    commit-decoration-style = yellow box ul
    file-style = yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
[merge]
	conflictstyle = merge
[diff]
	colorMoved = default
[include]
	path = .gitlocal
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /app
